html {
  font-size: 112.5%;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  padding-left: 3%;
  color: #333;
}

* {
  line-height: 1.45rem;
  margin-bottom: 1.45rem;
  margin-top: 0rem;
}

h1 {
  font-size: 3.796875rem;
  line-height: 4.35rem;
  margin-top: 2.9rem;
  margin-bottom: 1.45rem;
}

h2 {
  font-size: 1.6875rem;
  line-height: 2.175rem;
  margin-top: 2.9rem;
  margin-bottom: 1.45rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.45rem;
  margin-top: 1.45rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.45rem;
  margin-top: 1.45rem;
  margin-bottom: 0rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.45rem;
  margin-top: 1.45rem;
  margin-bottom: 0rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.45rem;
  margin-top: 1.45rem;
  margin-bottom: 0rem;
}

small,
figcaption {
  font-size: 0.75rem;
}

.big-quote {
  font-family: "korolev", sans-serif;
  font-size: 1.6875rem;
  float: right;
  max-width: 10em;
  font-weight: 300;
  font-style: italic;
  line-height: 2.175rem;
}

article {
  max-width: 45em;
}
article h1 {
  color: #f7412d;
  font-style: normal;
  max-width: 13em;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: "korolev", sans-serif;
  font-weight: 500;
}
article p {
  max-width: 33em;
}

.grid, .double-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% 26.1px;
}

.double-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px), linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px, transparent 13.05px, hsla(200, 100%, 50%, 0.2) 13.05px, transparent 14.05px, transparent 26.1px);
}

/* End of example */
footer {
  margin-top: 4em;
}

footer h1 {
  font-size: 24px;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  margin-bottom: 0;
}

footer span {
  color: #f15d64;
}

footer p {
  font-size: 16px;
  font-family: Georgia, serif;
}