.allsmallcaps {
  -webkit-font-feature-settings: "c2sc", "smcp";
          font-feature-settings: "c2sc", "smcp";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  -webkit-font-feature-settings: "frac";
  font-feature-settings: "frac";
}

.ordinal {
  font-variant-numeric: ordinal;
  -webkit-font-feature-settings: "ordn";
  font-feature-settings: "ordn";
}

.dropcap {
  color: #f15d64;
}

html {
  font-size: 100%;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  color: #333;
}
@media screen and (min-width: 48em) {
  html {
    font-size: 112.5%;
  }
}

* {
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
  margin-top: 0rem;
}
@media screen and (min-width: 48em) {
  * {
    line-height: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  * {
    margin-bottom: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  * {
    margin-top: 0rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 48em) {
  h1 {
    line-height: 2.175rem;
  }
}
@media screen and (min-width: 48em) {
  h1 {
    margin-top: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h1 {
    margin-bottom: 1.45rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 2.8rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 48em) {
  h2 {
    line-height: 2.175rem;
  }
}
@media screen and (min-width: 48em) {
  h2 {
    margin-top: 2.9rem;
  }
}
@media screen and (min-width: 48em) {
  h2 {
    margin-bottom: 0.725rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 2.1rem;
  margin-top: 2.8rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 48em) {
  h3 {
    line-height: 2.175rem;
  }
}
@media screen and (min-width: 48em) {
  h3 {
    margin-top: 2.9rem;
  }
}
@media screen and (min-width: 48em) {
  h3 {
    margin-bottom: 0.725rem;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  h4 {
    line-height: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h4 {
    margin-top: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h4 {
    margin-bottom: 0rem;
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  h5 {
    line-height: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h5 {
    margin-top: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h5 {
    margin-bottom: 0rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  h6 {
    line-height: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h6 {
    margin-top: 1.45rem;
  }
}
@media screen and (min-width: 48em) {
  h6 {
    margin-bottom: 0rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "korolev", sans-serif;
  font-weight: 500;
}

.main-body {
  width: 87.5%;
  margin-left: 12.5%;
}
@media screen and (min-width: 64em) {
  .main-body {
    width: 56.25%;
    margin-left: 12.5%;
    float: left;
  }
}

.post-meta {
  color: #999;
}
.post-meta a {
  color: #999;
  text-decoration: underline;
}

.sidebar {
  width: 81.25%;
  margin-left: 12.5%;
}
@media screen and (min-width: 64em) {
  .sidebar {
    width: 18.75%;
    margin-top: 2.8rem;
    margin-left: 6.25%;
    float: left;
  }
}
@media screen and (min-width: 64em) and (min-width: 48em) {
  .sidebar {
    margin-top: 2.9rem;
  }
}
.sidebar h1 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 2.8rem;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  .sidebar h1 {
    margin-top: 2.9rem;
  }
}
@media screen and (min-width: 48em) {
  .sidebar h1 {
    margin-bottom: 0rem;
  }
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar a {
  font-family: "korolev", sans-serif;
  display: block;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  .sidebar a {
    margin-bottom: 0rem;
  }
}
.sidebar .carbon {
  max-width: 265px;
}

header {
  margin-top: 2.8rem;
  margin-bottom: 1.4rem;
  font-family: "korolev", sans-serif;
}
@media screen and (min-width: 48em) {
  header {
    margin-top: 2.9rem;
  }
}
@media screen and (min-width: 48em) {
  header {
    margin-bottom: 1.45rem;
  }
}
header:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 48em) {
  header {
    margin-bottom: 0;
  }
}

.mobile-nav {
  float: right;
  margin-right: 10%;
}
.mobile-nav svg {
  margin-bottom: 0;
  margin-right: 10px;
  fill: #f7412d;
}
@media screen and (min-width: 48em) {
  .mobile-nav {
    display: none;
  }
}

.main-nav {
  display: none;
}
@media screen and (min-width: 48em) {
  .main-nav {
    display: inline-block;
  }
}
.main-nav ul {
  list-style: none;
  margin-bottom: 0;
}
.main-nav li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.logo-wrap {
  text-transform: uppercase;
  font-size: 1rem;
  display: inline;
  float: left;
  margin-right: 40px;
  margin-bottom: 0;
}
.logo-wrap img {
  margin-bottom: 0;
}

.logo {
  max-width: 48px;
  float: left;
}

small,
figcaption {
  font-size: 0.6666666667rem;
}

.big-quote {
  font-family: "korolev", sans-serif;
  font-size: 1rem;
  max-width: 90%;
  font-weight: 300;
  font-style: italic;
  margin-left: 0;
  line-height: 1.4rem;
  text-indent: -0.5em;
}
@media screen and (min-width: 48em) {
  .big-quote {
    line-height: 1.45rem;
  }
}
@media screen and (min-width: 37em) {
  .big-quote {
    float: right;
    max-width: 10em;
    margin-left: 2em;
    margin-bottom: 0.7rem;
  }
}
@media screen and (min-width: 37em) and (min-width: 48em) {
  .big-quote {
    margin-bottom: 0.725rem;
  }
}
@media screen and (min-width: 80em) {
  .big-quote {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}
@media screen and (min-width: 80em) and (min-width: 48em) {
  .big-quote {
    line-height: 2.175rem;
  }
}

article h1 {
  font-style: normal;
  margin-left: -6.25%;
  max-width: 100%;
}
@media screen and (min-width: 37em) {
  article h1 {
    font-size: 2.25rem;
    line-height: 2.8rem;
  }
}
@media screen and (min-width: 37em) and (min-width: 48em) {
  article h1 {
    line-height: 2.9rem;
  }
}
@media screen and (min-width: 48em) {
  article h1 {
    font-size: 3.375rem;
    line-height: 4.2rem;
    max-width: 13em;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  article h1 {
    line-height: 4.35rem;
  }
}
@media screen and (min-width: 64em) {
  article h1 {
    margin-left: -12.5%;
  }
}
article p {
  max-width: 90%;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
}
@media screen and (min-width: 48em) {
  article p {
    max-width: 33em;
  }
}
article img {
  max-width: 100%;
}

a {
  color: #f7412d;
  text-decoration: none;
}
a:hover {
  color: #f96d5e;
}
a:active {
  color: #fb9a8f;
}

.twitter-link {
  font-family: "korolev", sans-serif;
}

/* End of example */
footer {
  margin-top: 4em;
}

footer h1 {
  font-size: 24px;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  margin-bottom: 0;
}

footer span {
  color: #f15d64;
}

footer p {
  font-size: 16px;
  font-family: Georgia, serif;
}

.grid, .double-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% 22.4px;
}
@media screen and (min-width: 48em) {
  .grid, .double-grid {
    background-size: 100% 26.1px;
  }
}

.double-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px), linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px, transparent 11.2px, hsla(200, 100%, 50%, 0.2) 11.2px, transparent 12.2px, transparent 22.4px);
}
@media screen and (min-width: 48em) {
  .double-grid {
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px), linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px, transparent 13.05px, hsla(200, 100%, 50%, 0.2) 13.05px, transparent 14.05px, transparent 26.1px);
  }
}